<nav class="navbar navbar-expand-lg  sticky-top navbar-dark bg-warning">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><strong> <i class="fa fa-comments-o" style="font-size:48px;color:rgb(13, 37, 172)" aria-hidden="true"></i>   PAGINA CHAT</strong></a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href=""></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href=""></a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand">session del ususario: <%=user.name%></a>
        <div class="nav navbar-nav navbar-right">
            <a href="/logout" class="navbar-brand"><strong><i class="fa fa-sign-out" style="font-size:48px;color:rgb(13, 19, 196)" aria-hidden="true"></i>
                    SALIR</strong></a>
        </div>
    </div>
</nav>